rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /precos/{documentId} {
      allow read, write: if isSignedIn();
    }

    match /fornecedores/{documentId} {
      allow read, write: if isSignedIn();
    }

    match /categorias/{documentId} {
      allow read, write: if isSignedIn();
    }

    match /unidadesDeMedida/{documentId} {
      allow read, write: if isSignedIn();
    }

    match /orcamentos/{documentId} {
      allow read, write: if isSignedIn();
    }

    match /contadores/{documentId} {
      allow read, write: if isSignedIn();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
